<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <!-- imports font awsome -->
    <script src="https://kit.fontawesome.com/7f7ede907f.js" crossorigin="anonymous"></script>
    <!-- imports the css -->
    <link rel="stylesheet" href="static/css/output.css">
    <!-- imports the jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- header for the pages -->
    <div class="w-full bg-blue-700 h-28 p-3 flex justify-bewtween items-center">
        <img class="h-20 w-auto" src="static/images/umllogo.jpg">
        <p class="text-white text-3xl font-bold font-serif ml-10 w-full">University of Massachusetts Lowell<br>Blackbord Learning Management System</p>
        <a href="{{ url_for('main.index') }}" class="text-white w-48">UML Cource Center</a>
    </div>

    {% block content %}{% endblock %}
    <!-- imports the js may need to split up into files -->
    <script>
        {% include "scripts.js" %}
    </script>
    
</body>
</html>