{% extends "base.html" %}
{% from "macros.html" import channel, channelHeader, message, addChannel %}

{% block content %}
<div class="w-full h-12 border-[1px] border-gray-300 flex items-center">
    <a href="#" class="text-sm font-bold ml-5 ">COMP 4110 P 1 201 Software Engineering I 2022 Fall</a>
    <a href="#">
        <i class="fa-solid fa-caret-down ml-5"></i>
    </a>
    <p class="text-xs ml-10 text-gray-600">Home Page</p>
</div>
<div class="flex">
    <div class="w-56 h-screen bg-gray-800 p-5">
        <div id="options">
            <p class="text-sm font-bold mt-10 text-white">COMP 4110 P 1 201 Software Engineering I 2022 Fall</p>
            <p class="text-sm pl-3 pb-6 mt-3 text-white border-b-[1px] border-blue-600 cursor-pointer">Home Page</p>
            <p class="text-sm pl-3 mt-3 text-white cursor-pointer">Announcements</p>
            <p class="text-sm pl-3 mt-3 text-white cursor-pointer">Discord</p>
            <p class="text-sm pl-3 mt-3 text-white cursor-pointer">Gradescope</p>
            <p class="text-sm pl-3 pb-6 mt-3 text-white border-b-[1px] border-blue-600 cursor-pointer">Groups</p>
            <p class="text-sm pl-3 mt-3 text-white cursor-pointer">Grade Book</p>
        </div>
        <p id="showLivechat" class="text-sm pl-3 mt-3 text-white cursor-pointer">Live Chat</p>
    </div>
    <!-- start of our actual application -->
    <div id="liveChat" class="hidden w-full h-screen">
        <!-- channel select column -->
        <div class="w-56 h-screen bg-gray-600 p-3">
            {{ addChannel("Add Channel", "addClassChannel") }}
            <ul id="add">
            </ul>
            {{ channelHeader("Class Channels", "classMinimize") }}
            <ul id="class">
                {% for c in cc %}
                    {{ channel(c) }}
                {% endfor %}
            </ul>
            {{ channelHeader("Private Channels", "privMinimize") }}
            <ul id="private">
                {% for c in pc %}
                    {{ channel(c) }}
                {% endfor %}
            </ul>
            {{ channelHeader("Group Channels", "groupMinimize") }}
            <ul id="group">
                {% for c in gc %}
                    {{ channel(c) }}
                {% endfor %}
            </ul>
          
        </div>

       
        <div id="addchannelpopup" class = "hidden w-full h-20 p-10 bg-gray-50">
            <form id = "chnName">
                <input id="channelName" type="text" placeholder="Type channel name" class="w-full border-2 border-black p-3 text-gray-700 text-lg rounded-lg">
            </form>
        </div>
    
        <!-- channel interaction --> 
        <div class="w-full h-full p-10 flex flex-col justify-end bg-gray-50">
            <div id="messages" class="overflow-y-scroll h-full flex flex-col justify-end">
               

            </div>
            <form id="msg">
                <input id="message" type="text" placeholder="Type your message and then hit enter to send." class="w-full border-2 border-black p-3 text-gray-700 text-lg rounded-lg">
            </form>

        </div>
    </div>
    <!-- the html for the other options -->
    <div id="default" class="w-full h-screen p-5 m-5">
        <p class="text-lg pl-3 mt-3 cursor-pointer">Home Page</p>
        <p class="h-full text-2xl font-bold mt-5 border-2 border-gray-300 text-gray-500 p-10">There is no content to view on this page </p>
        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    {% include "scripts.js" %}
</script>
{% endblock %}